<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AggregateSource" version="0.0.285" targetFramework="net45" />
  <package id="AggregateSource.Content.ExplicitRouting" version="0.0.285" targetFramework="net45" />
  <package id="AggregateSource.Testing" version="0.0.285" targetFramework="net45" />
  <package id="AggregateSource.Testing.NUnit" version="0.0.285" targetFramework="net45" />
  <package id="CompareNETObjects" version="1.7.4.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
</packages>